.container {
  display: flex;
  flex-direction: column;
  
  height: 100vh;
  max-width: 992px;
  margin: 0 auto;
  padding: 2.5rem 2rem;
}

.container section {
  display: grid;
  flex: 1;
  align-content: center;
  gap: 1.875rem
}

@media (min-width: 768px) {
  .container section {
    grid-template-columns: 1fr 1fr;
    gap: 3.75rem;
  }
}

@media (min-width: 992px) { 
  .container section {
    gap: 6.25rem;
  }
}


